* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-container {
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  padding: 30px;
}

.chart-container {
  display: block;
  position: relative;
  width: 70vw;
  height: 55vh;
  margin-left: auto;
  margin-right: auto;
}
.button-container {
  width: 50vw;
  height: 10vh;
  margin-left: auto;
  margin-right: auto;
}

.geography,
.stats {
  display: flex;
  justify-content: center;
  height: 50%;
  padding: 10px;
  font-size: 20px;
}

button {
  width: 80px;
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}
.country-container {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.asia {
  color: blueviolet;
}

.europe {
  color: chocolate;
}

.africa {
  color: crimson;
}

.americas {
  color: darkblue;
}
.oceania {
  color: green;
}

h4 {
  display: inline-block;
  padding: 3px;
}
